<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>460930823991-8b46a3apchir85ols44tt0s44tv5stgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.460930823991-8b46a3apchir85ols44tt0s44tv5stgl</string>
	<key>API_KEY</key>
	<string>AIzaSyAiqEW7AXOn_Wt-pAOVAF40UiNnAHfLMD0</string>
	<key>GCM_SENDER_ID</key>
	<string>460930823991</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.s.c.Swarm-Circle</string>
	<key>PROJECT_ID</key>
	<string>swarmcircle</string>
	<key>STORAGE_BUCKET</key>
	<string>swarmcircle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:460930823991:ios:79bfec31e87d14049c0cb2</string>
</dict>
</plist>